/* css style sheet for Synology Diskstation Manager 3rd party WebUI incl. menus, tabs */
/* caution do not use unordered (ul) and ordered (ol) link lists as they are djusted for vertical */
/* default style elements for body incl. fonts, paragraph, images, text, table, headers, hide  */
body {
	background-color: #FFFFFF;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	margin: 0;
}
p {
	font-size: 14px;
	line-height: normal;
}
table {
	background-color: #FFFFFF;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	margin-top: 1px;
	margin-left:1px
	margin-right: 1px;
	margin-bottom: 1px;
	border-collapse: collapse;
	border: 1px solid black;
	border-color: #D3D3D3;
}
th, td {
	padding: 1px 1px;
	text-align: left;
	border: 2px solid black;
}
textarea {
	padding: 2px 2px;
	/* font-family: verdana, tahoma, arial, helvetica, sans-serif; */
	font-family: Lucida Console, Monaco, monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	margin: 0;
}
input[type=submit] {
	width: 5em;  height: 2em;
	margin-top: 4px;
	margin-bottom: 6px;
}
img {
	vertical-align: middle;
}
div.h3 {
	background-color: transparent;
	background-image: url(/webman/modules/ControlPanel/images/cp_split.png);
	background-position: 50% 50%;
	background-repeat: repeat-x;
	border-bottom-color: black;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: black;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: black;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: black;
	border-top-style: none;
	border-top-width: 0px;
	cursor: default;
	font-size: 13px;
	height: 11px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 30px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	top: auto;
}
h3 {
	background-color: #FFFFFF;
	border-bottom-color: #505a64;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: #505a64;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #505a64;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #505a64;
	border-top-style: none;
	border-top-width: 0px;
	color: #505a64;
	font-size: 13px;
	height: 13px;
	line-height: normal;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	width: auto;
}
.hide { 
	display: none; 
}
/* menu style vertical nav via a, li, ul */
.nav {
  background-color: inherit;
}
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 160
	background-color: #FFFFFF;
	position: fixed;
	height: 100%;
	border-right-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}
.nav li a {
	display: block;
	color: #000;
	padding: 3px 3px 3px 3px;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
}
.nav li a.active {
	background-color: #1E90FF;
}
.nav li a:hover:not(.active):not(.spacer) {
	background-color: #555;
}
.nav li a.spacer {
	padding: 2px 2px;
}
.nav li a.line {
	padding: 0px 1px;
	border-top-style: none;
	border-bottom-style: solid;
	border-color: #D3D3D3;
}
/* tab style with .tab  ol li a */
.tab {
	background-color: inherit;
}
/* padding: top right bottom left */
.tab ol {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.tab li
{
	display: inline;
	list-style-type: none;
}
/* margin  top-right&left-bottom*/
.tab li a {
	color: #000;
	background-color: #f1f1f1;
	padding: 2px 12px 6px;
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	text-decoration: none;
}
/* background color of buttons active or changed on hover */
.tab li a.active {
	background-color: #ccc;
}
.tab li a:hover {
	background-color: #ddd;
}
/* grid style form */
.form
{
    margin-top: 8px;
}
.form table
{
	border: none;
	border-collapse: collapse;
}
.form table tr
{
	vertical-align: middle;
	border: none;
	border-collapse: collapse;
}
.form table td
{
	padding: 2px 1px 4px 1px;
	border: none;
	border-collapse: collapse;
}
.frmT
{
    width: 165px;
    padding: 2px 2px;
    height: 20px;
    float: left;
    outline: 0;
    font-weight: normal;
}

.frmTA
{
    width: 165px;
    padding: 2px 2px;
    height: 20px;
    float: left;
    outline: 0;
    font-weight: normal;
}

.frmS
{
    width: 165px;
    padding: 2px 2px;
    height: 20px;
    float: left;
    outline: 0;
    font-weight: normal;
}
/* special items like dnsentry */
#dnsentry
{
    font-weight: bold;
    border: 1px solid #4c4c4c;
    background: #efefef;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
    padding: 2px 4px;
}